<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smrwns.modules.user.UserMapper">

    <resultMap id="UserMap" type="User">
        <id property="id" column="s_id" />
        <result property="passwd" column="s_passwd" />
        <result property="name" column="s_name"/>
        <result property="nick" column="s_nick"/>
        <result property="type" column="s_type"/>
        <result property="group" column="s_group"/>
        <result property="email" column="s_email"/>
    </resultMap>
    
    <select id="getById" resultMap="UserMap">
        SELECT * FROM MEMBER WHERE S_ID = #{id}
    </select><!-- 테스트 -->
    
</mapper>